<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yarn Killer!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Marck+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/common.css">
</head>
<body>
    <div id="page-container">
        <div id="header">
            <div id="left-side-header">
                <div class="nav-bar">
                    <a href="#" class="NYI">Browse Yarns</a>
                    <a href="#" class="NYI">Search Yarns</a href="#">
                </div>
            </div>
            <div id="center-header">
                <div id="logo">
                    <img src="../static/assets/cat with yarn white.png" alt="Kitty!">
                    <span id="logo-text">Yarn Killer!</span>
                </div>
            </div>
            <div id="right-side-header">
                <div class="nav-bar">
                    {% if current_user.is_authenticated %}
                        <a href="#" class="NYI">Account stuff</a>
                        <a href="#" class="NYI">More account stuff</a>
                        <a href="#" class="NYI">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.signup') }}">Register</a>
                        <a href="#" class="NYI">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>