<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yarn Killer!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Marck+Script&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    {% block header %}
    {% endblock %}
</head>
<body>
    <div id="page-container">
        <div id="header">
            <div id="left-side-header">
                <div class="nav-bar">
                    <a href="{{ url_for('yarn.browse') }}">Browse Yarns</a>
                    <a href="#" class="NYI">Search Yarns</a>
                    <a href="{{ url_for('yarn.edit_yarn', id='new') }}">Add Yarn</a>
                    <a href="{{ url_for('colorway.manage') }}">Colorways</a>
                </div>
            </div>
            <div id="center-header">
                <div id="logo">
                    <img src="{{ url_for('static', filename='assets/cat with yarn white.png') }}" alt="Kitty!">
                    <span id="logo-text">Yarn Killer!</span>
                </div>
            </div>
            <div id="right-side-header">
                <div class="nav-bar">
                    {% if current_user.is_authenticated %}
                        <a href="#" class="NYI">Account stuff</a>
                        <a href="#" class="NYI">More account stuff</a>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.signup') }}">Register</a>
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="flashed-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>