$primary-background-color: #212738;
$secondary-background-color: #2A6041;
$tertiary-background-color: #3587A4;

$primary-text-color: #85FFC7;
$secondary-text-color: #BAD7F2;

$primary-accent-color: #8B95C9;
$secondary-accent-color: #D5B0AC;
$tertiary-accent-color: #A690A4;

$primary-font:'Libre Franklin', sans-serif;
$title-font: 'Marck Script', cursive;