$primary-background-color: #212738;
$secondary-background-color: #2A6041;
$tertiary-background-color: #3587A4;

$primary-text-color: #85FFC7;
$secondary-text-color: #BAD7F2;

$primary-accent-color: #84F0FA;

$primary-font:'Libre Franklin', sans-serif;
$title-font: 'Marck Script', cursive;